.fontLetter
{
    font-family: 'Fredoka One', cursive !important;
    font-size: 6rem !important;
}

.btn-letter
{
  font-size: 1.5rem;
  padding: 0;
}

#layout-study-alphabet
{
  display: none;
}

span
{
  font-size: inherit !important;
}

#img1
{
  max-height: 18rem;
}

#img2,#img3,#img4,#img5
{
  max-height: 12rem;
}